.user-list{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.user{
	width: 50%;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	transition: box-shadow .3s ease-out, transform .3s ease-out;
	&:hover{
		cursor: pointer;
		box-shadow: 0 3px 7px rgba(0,0,0,.2);
	}
}

.user-name{
	display: inline-block;
	margin-right: 5px;
}
.user-photo{
	margin-right: 10px;
	width:150px;
	height: 150px;
}
.user-info{
	display: flex;
	flex-direction: column;
}
.user-nick{
	margin-bottom: 5px;
}