.welcome {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 82px;
	font-weight: 700;
	white-space: nowrap;
	animation: tracking-in-contract 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes  {
	0% {
	  letter-spacing: 1em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  letter-spacing: normal;
	  opacity: 1;
	}
  }
  @keyframes tracking-in-contract {
	0% {
	  letter-spacing: 1em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  letter-spacing: normal;
	  opacity: 1;
	}
  }