.user-details-box{
	transition: all .5s ease-out;
	transform-origin: top;
	&-entering{
		max-height: 0;
		transform: scaleY(0);
	}
	&-entered{
		max-height: 1000px;
		transform: scaleY(1);
	}
	&-exiting{
		max-height: 0;
		transform: scaleY(0);
	}
	&-exited{
		max-height: 1000px;
		transform: scaleY(0);
	}
}