.user-details-box{
	transition: all .5s ease-out;
	transform-origin: top;
	&-entering{
		// max-height: 0;
		transform: scaleY(0);
	}
	&-entered{
		transform: scaleY(1);
	}
	&-exiting{
		transform: scaleY(0);
	}
	&-exited{

		transform: scaleY(0);
	}
}