.user-item{
	position: relative;
	display: flex;
	align-items: center;
	&:not(:last-of-type){
		margin-bottom: 10px;
	}
	&-parameter{
		min-width: 100px;
		margin-right: 20px;
	}
}
.user-item-parameter{
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
}
.user-item-value{
	margin-right: 10px;
	font-weight: 300;
	font-size: 16px;
}
